@font-face {
  font-family: "MiddleEarth";
  src: url("fonts/MiddleEarth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.middle-earth {
  font-family: "MiddleEarth", sans-serif !important;
}
